/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Kalam', cursive; */
/* font-family: 'Luckiest Guy', cursive; */

* {
    margin: 0;
    padding: 0;
  }
  
body {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    overflow: hidden;
    background-color: lavender;
}

.container {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr 1fr 20px 250px 20px 1fr 1fr;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.top {
    grid-area: 1 / 1 / 1 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    align-content: center;
    justify-content: center;
    background-color: darkblue;
}

#playBtn {
    grid-area: 1 / 1 / 1 / 1;
    font-family: 'Permanent Marker', cursive;
    margin: 5px 5%;
    padding: 5px;
    border-radius: 5px;
    width: 25%;
}

#scorebox {
    grid-area: 1 / 2 / 1 / 3;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#scoretext, #score {
    color: white;
    align-self: center;
    text-align: center;
}

#exitBtn {
    grid-area: 1 / 3 / 1 / 4;
    justify-self: end;
    font-family: 'Permanent Marker', cursive;
    margin: 5px 5%;
    padding: 5px;
    border-radius: 5px;
    width: 25%;
}

.top2 {
    grid-area: 2 / 1 / 3 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

#puzzleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 40px;
    height: 40px;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-family: 'Luckiest Guy', cursive;
}

.left {
    grid-area: 3 / 1 / 6 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender;
  }
  
.right {
    grid-area: 3 / 3 / 6 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender;
}

.mid1 {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender;
}

#pointer {
    justify-self: center;
    width: 20px;
    height: 20px;
}

.mid2 {
    grid-area: 4 / 2 / 5 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender;
}

#wheelDiv {
    display: grid;
    grid-area: 1 / 1 / 1 / 1;
    width: 100%;
    height: 100%;
}

#wheel {
    width: 100%;
}

.mid3 {
    grid-area: 5 / 2 / 6 / 3;
    width: 100%;
    height: 100%;
    background-color: lavender; 
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#spinBtn {
    font-family: 'Permanent Marker', cursive;
    padding: 7px;
    border-radius: 5px;
}

.bottom1 {
    grid-area: 6 / 1 / 7 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 217, 0); 
}

.abc {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 0px;
    border-radius: 3px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.bottom2 {
    grid-area: 7 / 1 / 8 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender; 
}

