/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Kalam', cursive; */
/* font-family: 'Luckiest Guy', cursive; */

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    overflow: hidden;
    background-color: lavender;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 1fr 50px 200px 50px 1fr 1fr;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.top {
    grid-area: 1 / 1 / 1 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: darkblue;
}

#playBtn {
    font-family: 'Permanent Marker', cursive;
    padding: 5px;
    border-radius: 5px;
}

.top2 {
    grid-area: 2 / 1 / 3 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

#puzzleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    width: 40px;
    height: 40px;
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-family: 'Luckiest Guy', cursive;
}

.left {
    grid-area: 3 / 1 / 6 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender;
  }
  
.right {
    grid-area: 3 / 3 / 6 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender;
}

.mid1 {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender;
}

/* #score {
    background-color: white;
    border: black 2px;
    width: 50px;
} */

.mid2 {
    grid-area: 4 / 2 / 5 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: white;
}

#spinBtn {
    font-family: 'Permanent Marker', cursive;
    padding: 15px;
    border-radius: 5px;
}

.mid3 {
    grid-area: 5 / 2 / 6 / 3;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender; 
}

.bottom1 {
    grid-area: 6 / 1 / 7 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 217, 0); 
}

.abc {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 0px;
    border-radius: 3px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.bottom2 {
    grid-area: 7 / 1 / 8 / 4;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: lavender; 
}
